services:
    db:
        image: postgres
        container_name: ztransfer_db
        environment:
            POSTGRES_PASSWORD: '${DB_PASSWORD}'
            POSTGRES_USER: '${DB_USER}'
            POSTGRES_DB: '${DB_NAME}'
        ports:
            - '5432:5432'
        volumes:
            - ./data/postgres:/data/postgres
        restart: unless-stopped
    api:
        build: ./
        container_name: ztransfer_api
        restart: unless-stopped
        ports:
            - '5000:5000'
            - '4000:4000'
        links:
            - db
        depends_on:
            - db
        command: pnpm start
        volumes:
            - ./src:/api/src
            - ./data/uploads:/api/uploads
    adminer:
        image: adminer
        container_name: ztransfer_adminer
        restart: unless-stopped
        ports:
            - '8080:8080'
        depends_on:
            - db
