services:
    db:
        image: postgres
        container_name: ztransfer_db_test
        env_file: .env.test
        ports:
            - '5432:5432'
        restart: unless-stopped
    api:
        build: 
            context: .
            dockerfile: Dockerfile.test
        container_name: ztransfer_api_test
        env_file: .env.test
        restart: unless-stopped
        ports:
            - '5000:5000'
            - '4000:4000'
        links:
            - db
        depends_on:
            - db
        command: pnpm ${TEST_COMMAND} ./tests

        volumes:
            - ./src:/api/src
            - ./data/uploads:/api/uploads
            - ./tests:/api/tests